body {

  font-family: 'Alegreya', serif;
}



.jumbotron {
  background-color: black;
}

#top {
  background-color: #EEEEEE;
}


#fishBreakfast {
  display: none;
}

#fivekOne {
  display: none;
}

#fivekTwo {
  display: none;
}

#fivekThree {
  display: none;
}

#matchInfo {
  display: none;
}

#homelessSituation {
  display: none;
}

#homelessResults {
  display: none;
}

#homeless1 {
  display: none;
}
#homeless2 {
  display: none;
}
#homeless3 {
  display: none;
}
#checkphone {
  display: none;
}
#first-text {
  display: none;
}
